#bg-image {
    position: fixed;
    background-image: url("img/bg.png");
    background-size: cover;
    background-position: 50% 25%;
    z-index: 0;

    top: 0;
    left: 0;
    height: 105%;
    width: 105%;
    margin: 0px;
    padding: 0px;
    display: block; 

    transform: scale(1.1);
}

#opacity-bg {
    background-color: black;
    opacity: 50%;
    height: inherit;
    width: inherit;
    position: fixed;
    z-index: 1;
}

#content {
    position: relative;
    z-index: 3;
    min-width: 45%;
    width: 45%;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#title-text {
    color: blue;
    text-align: center;
    font-size: 3rem;
}

.heading-content {
    padding-left: 30px;
    color: white;
    font-size: 18px;
}

a:link {
    color: dodgerblue;
    text-decoration: none;
}

a:visited {
    color: royalblue;
    text-decoration: none;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

.heading {
    color: lightgreen;
    font-size: 28px;
}

.links {
    display: flex;
}
.logo-link {
    height: 32px;
    width: 32px;
    margin-right: 18px;
}