body {
    margin: 0px;
}

#bg-image {
    position: fixed;
    background-image: url("img/bg.png");
    background-size: cover;
    background-position: 50% 25%;
    z-index: 0;

    top: 0;
    left: 0;
    height: 105%;
    width: 105%;
    margin: 0px;
    padding: 0px;
    display: block; 

    transform: scale(1.1);
}

#screen {
    overflow-x: hidden;

    width: 100vw;
    height: 100vh;

    overflow: auto;
    position: absolute;
    display: flex;
}

#content-opacity {  
    width: 800px;
    max-width: 80%;
    height: auto;

    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;

    position: relative;
    
    background-color: rgba(0, 0, 0, 0.5);
    padding: 30px;
    border-radius: 30px;

    z-index: 2;
}

#content {
    opacity: 100%;
    position: relative;
    z-index: -1;
}

#title-text {
    color: blue;
    text-align: center;
    font-size: 3rem;
}

.heading-content {
    padding-left: 30px;
    color: white;
    font-size: 18px;
}

.heading-content > img {
    margin-right: 8px;
    margin-bottom: 4px;
}

a:link {
    color: dodgerblue;
    text-decoration: none;
}

a:visited {
    color: royalblue;
    text-decoration: none;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

.heading {
    color: lightgreen;
    font-size: 28px;
}

.links {
    display: flex;
}

#bg-image-credit {
    color: black;
    position: fixed;
    padding: 0;
    margin: 0;
    z-index: 1;
    bottom: 5px;
    left: 5px;
}

#bg-image-credit a:link,
#bg-image-credit a:visited {
    color: inherit;
    text-decoration: underline; 

}